@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova-Bold.ttf);
  src: url(../fonts/ProximaNova-Bold.woff);
  src: url(../fonts/ProximaNova-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova-Regular.ttf);
  src: url(../fonts/ProximaNova-Regular.woff);
  src: url(../fonts/ProximaNova-Regular.woff2);
  font-weight: 400;
}

html {
  font-size: 10px;
  background-color: #F5F5F5;
}

body {
  font-size: 1.6rem;
  min-width: 320px;
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  max-width: 1920px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__avatar {
  margin-right: 8px;
}

.user__name {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.header {
  background-color: #0050B3;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  position: relative;
}

.header__block {
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__search {
  max-width: 336px;
  width: 100%;
}

.header__search-input {
  border: 1px solid #D9D9D9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 5px 30px 5px 12px;
  width: 100%;
  background: #fff url(../img/search.svg) no-repeat center right 12px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-user__name {
  color: #fff;
  font-weight: 600;
}

.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
}

.header__nav-menu__link {
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-menu__link:first-child {
  margin-left: 0;
}

.header__nav-menu__link::before {
  content: "";
  margin-right: 12px;
  width: 1px;
  height: 16px;
  background-color: #003A8C;
}

.header__nav-menu__link:last-child::after {
  content: "";
  margin-left: 12px;
  width: 1px;
  height: 16px;
  background-color: #003A8C;
}

.header__nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-icons__link {
  margin-left: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-icons__link:last-child::before {
  content: "";
  margin-right: 12px;
  width: 1px;
  height: 16px;
  background-color: #003A8C;
}

.header__nav-icons__link-icon {
  fill: #002766;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.header__nav-icons__link-icon:hover {
  fill: #fff;
}

.header__nav-icons__link-dropdown {
  background-color: transparent;
  border: none;
  margin-left: 6px;
}

.header-burger {
  display: none;
}

.header-burger__menu {
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-transform: translateY(-150%);
      -ms-transform: translateY(-150%);
          transform: translateY(-150%);
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 50px 0;
}

.header-burger__menu li {
  padding: 10px 0;
  color: #ffffff;
  font-weight: 600;
}

.header-burger__icon {
  width: 30px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header-burger__icon span {
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 2px;
  background-color: #000000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header-burger__icon span::after,
.header-burger__icon span::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 4px;
  border-radius: 2px;
  background-color: #000000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header-burger__icon span::after {
  bottom: 0;
}

.header-burger__icon span::before {
  top: 0;
}

.counter {
  position: relative;
}

.counter::before {
  content: '8';
  display: block;
  position: absolute;
  top: -10px;
  right: -15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  background-color: #F5222D;
  border: 1px solid #FFFFFF;
  color: #fff;
  font-size: 1.4rem;
}

.active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.burger-close span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-close span::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.main {
  padding-top: 16px;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-sidebar {
  max-width: 192px;
}

.main-sidebar__user {
  padding-left: 8px;
}

.main-sidebar__avatar {
  width: 24px;
  height: 24px;
}

.main-sidebar__name {
  color: #262626;
}

.main-nav-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 12px;
  margin-bottom: 24px;
}

.main-nav-group__see-more {
  margin-top: -12px;
}

.main-nav-group__see-more .main-nav-group__link {
  padding: 4px 11px;
}

.main-nav-group__see-more .main-nav-group__link-text {
  color: #1890FF;
  font-weight: 600;
}

.main-nav-group__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
  color: #595959;
  line-height: 2.2rem;
  font-size: 1.4rem;
}

.main-nav-group__link-text {
  margin-left: 8px;
}

.main-nav-group__link.active {
  background-color: #fff;
  color: #262626;
  font-weight: 600;
}

.main-nav-group__title {
  font-size: 12px;
  line-height: 20px;
  padding-left: 10px;
  margin-bottom: 4px;
  font-weight: 600;
}

.main-feed {
  max-width: 588px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-feed .create-post {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
}

.main-feed .create-post-header {
  background-color: #F5F5F5;
  padding: 9px 16px;
  border-bottom: 1px solid #D9D9D9;
}

.main-feed .create-post-title {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  font-weight: 600;
}

.main-feed .create-post-body {
  padding: 16px 16px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-feed .create-post-body .user-avatar {
  margin-right: 8px;
}

.main-feed .create-post-input {
  padding-top: 8px;
  width: 100%;
  max-width: 520px;
}

.main-feed .create-post-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  padding: 16px 0;
  border-top: 1px solid #E8E8E8;
}

.main-feed .create-post-footer .tag {
  background-color: #f5f5f5;
  border: none;
  border-radius: 48px;
  padding: 9px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.main-feed .create-post-footer .tag svg {
  margin-right: 8px;
}

.main-feed .create-post-footer .tag:hover {
  cursor: pointer;
  background-color: gainsboro;
}

.post {
  margin: 16px 0;
  padding: 16px;
  background: #FFFFFF;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.post-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.post-header-settings {
  background-color: #fff;
  border: none;
}

.post-header-settings:hover {
  cursor: pointer;
}

.post-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post-user-avatar {
  width: 48px;
  height: 48px;
}

.post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 12px;
}

.post-author {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #0050B3;
}

.post-time {
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
}

.post-time::after {
  content: '';
  display: inline-block;
  margin: 0 6px;
  width: 4px;
  height: 4px;
  background-color: #BFBFBF;
  border-radius: 50%;
  vertical-align: middle;
}

.post-text {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-bottom: 16px;
}

.post-text a {
  color: #096DD9;
  display: inline-block;
}

.post-img {
  border: 1px solid #BFBFBF;
  border-radius: 4px;
}

.post-info-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-likes {
  margin: 9px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-likes-counter {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #595959;
  margin-left: 4px;
}

.post-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px solid #E8E8E8;
  padding-top: 16px;
}

.post-button {
  border: none;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-button:hover {
  cursor: pointer;
}

.post-button:hover .post-button-icon {
  fill: #0050B3;
}

.post-button:hover .post-button-text {
  color: #2e2d2d;
}

.post-button-text {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-left: 8px;
  font-weight: 600;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.post-button-icon {
  fill: #595959;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.right-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 384px;
  width: 100%;
}

.right-sidebar__stories {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  padding: 16px 16px 16px 24px;
}

.right-sidebar__stories-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-sidebar__stories-header .stories-header__title {
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}

.right-sidebar__stories-header .stories-header__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-sidebar__stories-header .stories-header__settings-btn {
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
  border: none;
  background-color: transparent;
  padding: 0 4px;
}

.right-sidebar__stories-header .stories-header__settings-btn:last-child::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #BFBFBF;
  margin-right: 8px;
  vertical-align: middle;
}

.right-sidebar__stories-body {
  margin-top: 16px;
}

.right-sidebar__stories-body .stories-body__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 16px;
}

.right-sidebar__stories-body .stories-body__items-info {
  margin-left: 12px;
  font-size: 14px;
  line-height: 22px;
}

.right-sidebar__stories-body .stories-body__items-info__title {
  font-weight: 600;
  color: #0050B3;
}

.right-sidebar__stories-body .stories-body__items-info__text {
  color: #8C8C8C;
}

.right-sidebar__news {
  margin-top: 16px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8C8C8C;
  font-size: 14px;
}

.right-sidebar__news-name {
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
  font-weight: 600;
  padding-left: 8px;
}

.right-sidebar__user-page {
  margin-top: 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.right-sidebar__user-page .user-page__header {
  padding: 9px 16px;
  border-bottom: 1px solid #D9D9D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-sidebar__user-page .user-page__header-title {
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.right-sidebar__user-page .user-page__body {
  padding: 16px 0;
  margin: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #D9D9D9;
}

.right-sidebar__user-page .user-page__body-info {
  margin-left: 16px;
}

.right-sidebar__user-page .user-page__body-info__title {
  color: #0050B3;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

.right-sidebar__user-page .user-page__body-info__stats {
  color: #8C8C8C;
  font-size: 14px;
  line-height: 22px;
}

.right-sidebar__user-page .user-page__body-info__stats-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3px;
}

.right-sidebar__user-page .user-page__body-info__stats-items span {
  margin-left: 4px;
}

.right-sidebar__user-page .user-page__body-info__stats-items:last-child::after {
  content: "1";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 17px;
  height: 22px;
  background: #F5F5F5;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  margin-left: 5px;
}

.right-sidebar__user-page .user-page__footer {
  padding: 16px;
}

.right-sidebar__user-page .user-page__footer-buttons {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.right-sidebar__user-page .user-page__footer-buttons .footer-button {
  border: 1px solid #D9D9D9;
  background-color: #fff;
  width: 33.3%;
  height: 40px;
  color: #595959;
  font-size: 16px;
}

.right-sidebar__user-page .user-page__footer-buttons .footer-button:first-child {
  border-radius: 5px 0 0 5px;
  border-right: none;
}

.right-sidebar__user-page .user-page__footer-buttons .footer-button:last-child {
  border-radius: 0 5px 5px 0;
  border-left: none;
}

.right-sidebar__user-page .user-page__footer-buttons .footer-button:hover {
  color: #1890FF;
  border: 1px solid #1890FF;
  cursor: pointer;
}

.right-sidebar__user-page .user-page__footer-likes {
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
  text-align: center;
}

.right-sidebar__user-page .user-page__footer-likes .footer-likes__counter {
  font-size: 24px;
  line-height: 32px;
  color: #262626;
}

.right-sidebar__user-page .user-page__footer-likes .footer-likes__forweek {
  font-size: 14px;
  line-height: 22px;
  color: #8C8C8C;
  margin-top: 5px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 588px;
  }

  .header__search {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }

  .header__nav {
    display: none;
  }

  .header-burger {
    display: block;
  }

  .main-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-sidebar {
    display: none;
  }

  .right-sidebar {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .main-feed .create-post-footer .tag {
    margin-bottom: 10px;
  }
}